@import "gumby/gumby";
@import "compass/css3/transform";

body {
  text-align: justify;
}

.column, .columns {
  padding: 0.5em 1em;
}

.negrito {
  font-weight: bold;
}

#cabecalho {
  address {
    float: right;
    text-align: right;
    margin-top: 33px;
  }

  img, #descricao-logo {
    float: left;
  }

  address, #descricao-logo {
    white-space: pre-line;
    color: #A3A3A3;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 18px;
  }
}

#logo-cabecalho {
  float: left;
}

#menu-topo {
  > ul {
    padding: 0;
  }
}

#chamada-principal {
  h1 {
    font-size: 2.2em;
    margin-left: 2em;
  }
  #de-um-up {
    @include rotate(-30deg);
    width: 230px;
    margin: 1em auto;
    text-align: center;
  }
}

#o-instituto {
  h1 {
    font-size: 2em;
  }

  ul {
    margin-left: 2em;
    
    li {
      margin: 1em 0;
      border-bottom: solid thin gray;
    }
  }
  
  #a-equipe {
    .four.columns {
      padding-left: 4em;
      padding-right: 4em;
      text-align: left;
    }

    img {
      margin: 1em auto;
      display: block;
    }
  }
}

.servico, #programacao {

  ul.lista-reiki {
    list-style: disc;
    li { margin-left: 4em; }
  }
  
  h1, h2 { text-align: left; }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
    border-bottom: solid thin gray;
  }
}

#reiki {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: image_url('fundo-reiki.jpg');
}
