---
title: Instituto Ser - Constelação Familiar
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">

      <h1>Constelações Familiares (grupos e individual)</h1>

     
      <p>A Constelação Familiar é um método que visa trazer à consciência a dinâmica que está oculta e que vem trazendo sofrimento, através da repetição
de uma situação acontecida na sua história familiar. O principal fundamento da Constelação Familiar é a visão de que o amor é a base fundamental do   
funcionamento de uma família. Ao configurar uma Constelação Familiar, os participantes que servem como representantes dos membros de uma família expressam
os sentimentos e as sensações que refletem autenticamente a quem eles representam.</p>

      <p>Expressam assim as complexas forças conflitivas que atuam nos sistemas humanos, bem como um caminho de solução que parecia inacessível ou inimaginável.
         </p>

      <p>As Constelações Familiares ajudam a fechar as pendências familiares, deixando cada pessoa com a sua própria responsabilidade e seu lugar de dignidade na 
família.</p>
    </div>
  </div>
</div>

