---
title: "Instituto Ser - Educação Integral: Unidade na Diversidade"
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">

      <h1>Educação Integral: Unidade na Diversidade</h1>

      <p>Este <em>workshop</em> propõe um despertar para uma nova abordagem de pais e
      educadores no processo educativo, ampliando a visão para uma educação de como cuidar
      melhor dos seus filhos e/ou alunos.</p>

      <p>Por meio de teorias e vivências, os participantes ampliarão o seu olhar sobre
      educação e infância, aprendendo uma maneira prática e profunda de ajudar crianças,
      adolescentes e jovens a desenvolverem os infinito potenciais da sua essência.</p>

    </div>
  </div>
</div>

