---
title: Instituto Ser - ENEAGRAMA – conheça a sua personalidade
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">
      <h1>ENEAGRAMA – conheça a sua personalidade</h1>

      <p>Este workshop insere o seu participante numa dinâmica de viagem ao seu interior,
      compreendendo melhor o quê, o porquê e para quê das atitudes e das suas reações
      desagradáveis ao mesmo tempo que se desperta para um caminhar mais leve e saudável.</p>

      <p>Conhecerá a ferramenta do Eneagrama e os nove perfis de personalidade aí descritos
      quando identificará o seu.</p>

      <p>Durante o processo de autoconhecimento e autotransformação, os participantes se
      identificam e se aprofundam no seu perfil de personalidade, num movimento em que desfaz
      imagens destorcidas, crenças limitantes, revisão de conceitos, compreensão do sentido de
      certas inseguranças, medos, comportamentos repetitivos, inércia, desânimo e outros
      comportamentos negativos, em nível pessoal.</p>

      <p>Também terá contato inicial com os três centros energéticos - Pensar, Agir e Sentir,
      apreendendo e compreendendo o movimento dessas energias no seu jeito de ser.</p>

      <p>O autoconhecimento é fundamental para harmonizar os sentimentos, os pensamentos,
      as emoções e as sensações; para se despertar para os seus dons, suas habilidades,
      suas competências; para resgatar virtudes que adormeceram ao longo da história
      pessoal; para descobrir-se na sua autenticidade e tomar posse do seu próprio EU
      para Ser você e não o que os outros querem que você seja.</p>

    </div>
  </div>
</div>

