---
title: Instituto Ser - O Eneagrama
---

<div id=eneagrama>

  <div class="row">
    <div class="twelve columns">
      <h1>O que é o Eneagrama?</h1>
      <p>Já na antiguidade, havia um olhar curioso em busca de respostas sobre a vida,
      o SER humano, a existência, o comportamento, os relacionamentos, as emoções, as
      doenças mentais, psíquicas. Um conhecimento antigo e, até há pouco tempo escondido,
      reaparece de 1930 revelando as diversas nuances que compõem a identidade de cada
      indivíduo. Este conhecimento, hoje, recebe o nome de Eneagrama.</p>

      <p><strong>O Eneagrama</strong> é um sistema de desenvolvimento pessoal e
      organizacional e descreve a estrutura psicológica humana em 9 padrões de
      comportamentos com suas tendências mentais, emocionais e instintivas.</p>

      <p>O sistema eneagramático é rico em símbolos, dados numéricos, campo morfogenético,
      conteúdo psicológico, psicanalítico e espiritual, os quais estão presentes na natureza
      humana onde se integram e interagem entre si, ora como essência, ora como Ego, ora
      atitudes boas, ora atitudes más, ora comportamentos saudáveis, ora comportamentos doentios.</p>


      <h2>ENEAGRAMA, conheça a sua personalidade</h2>

      <p>Este workshop insere o seu participante numa dinâmica de viagem ao seu interior,
      compreendendo melhor o quê, o porquê e para quê das atitudes e das suas reações
      desagradáveis ao mesmo tempo que se desperta para um caminhar mais leve e saudável.</p>

      <p>Conhecerá a ferramenta do Eneagrama e os nove perfis de personalidade aí descritos
      quando identificará o seu.</p>

      <p>Durante o processo de autoconhecimento e autotransformação, os participantes se
      identificam e se aprofundam no seu perfil de personalidade, num movimento em que desfaz
      imagens destorcidas, crenças limitantes, revisão de conceitos, compreensão do sentido de
      certas inseguranças, medos, comportamentos repetitivos, inércia, desânimo e outros
      comportamentos negativos, em nível pessoal.</p>

      <p>Também terá contato inicial com os três centros energéticos - Pensar, Agir e Sentir,
      apreendendo e compreendendo o movimento dessas energias no seu jeito de ser.</p>

      <p>O autoconhecimento é fundamental para harmonizar os sentimentos, os pensamentos,
      as emoções e as sensações; para se despertar para os seus dons, suas habilidades,
      suas competências; para resgatar virtudes que adormeceram ao longo da história
      pessoal; para descobrir-se na sua autenticidade e tomar posse do seu próprio EU
      para Ser você e não o que os outros querem que você seja.</p>


      <h2>ENEAGRAMA na Empresa</h2>

      <p>O estilo de vida, a pressão no trabalho, os modelos sociais propostos pela
      mídia geram pessoas ansiosas, estressadas, depressivas, intolerantes entre outras.
      Essas atitudes influenciam na vida pessoal, familiar, social e as relações de
      trabalho e, comumente, afetam os resultados da Empresa. A proposta do Eneagrama é
      provocar um amadurecimento humano trabalhando as dimensões: afetiva, emocional,
      mental e espiritual. Ao desenvolver o Humano nessas dimensões, desenvolve-se em
      paralelo a auto-estima, melhorando as relações pessoais e interpessoais e aumentando
      a eficiência nas atividades profissionais.</p>

      <p>Ao conhecer os nove perfis de personalidade, ocorre uma conscientização das
      diferenças individuais e há um entendimento da variedade de motivações que geram
      a especificidade de cada um, e com isso, tende-se a compreender mais o outro
      respeitando-o, comprometendo-se, desenvolve o espírito de colaboração, de
      humanização das relações pessoais, interpessoais e ambientais.</p>

      <p>Os benefícios são percebidos em duas dimensões: empresarial e pessoal.
      A partir do momento em que cada funcionário toma a consciência da força de seu
      EGO bem como do poder de sua ESSÊNCIA, o sistema empresarial passa a obter
      resultados profundos de desenvolvimento com um efeito contagiante de alto
      entusiasmo em toda organização, tornando-se mais integrado com melhoria de
      comunicação, lideranças, formação de equipes, tomada de decisões, vendas e
      negociação, entre outras possíveis. Efeito este que acaba sendo levado além
      da empresa, para as casas e famílias</p>


      <h2>ENEAGRAMA na Educação</h2>

      <p>O Eneagrama é um mapa e um sistema de desenvolvimento pessoal e organizacional
      que descreve as motivações por trás das ações, das crenças e das estratégias
      inconscientes que movem as nossas decisões, pois ele descreve a estrutura
      psicológica humana em nove padrões de comportamentos com suas tendências mentais,
      emocionais e instintivas e, ao mesmo tempo, aponta caminhos para encontrar a
      verdadeira liberdade, tomar posse do próprio SER e aprender a lidar com seus
      próprios limites e talentos.</p>

      <p>É um trabalho de desenvolvimento pessoal que possibilita o autoconhecimento
      e autotransformação porque potencializa os dons e talentos de cada profissional.</p>

      <p>Por trabalhar a dimensão pessoal e as relações humanas, o Eneagrama transforma
      o individual e, como conseqüência o coletivo, trazendo resultados que incluem a
      satisfação e o empenho na busca de resultados para todos os envolvidos. A
      Instituição escolar por ser uma empresa com fim específico que é o da formação
      integral do ser em formação, terá como conseqüência direta, uma ação pedagógica
      voltada para o indivíduo/persona e com possibilidades de um olhar do educador
      focado no potencial/essência do educando.</p>

      <p>À medida que se exercita as três inteligências Intelectual, Emocional e
      Instintiva, ganha-se na harmonização entre elas, e conseqüentemente há o sustento
      da produtividade institucional através de ações planejadas, refletidas, organizadas,
      analisadas, concluídas, tornando o ambiente afetivo e com calor humano, com foco
      na geração de resultados.</p>


      <h2>Palestras para Pais</h2>

      <p>Essas palestras têm a finalidade de abrir um espaço para pais e educadores,
      como oportunidade na troca de experiências sobre a educação dos filhos.</p>

      <p>Possibilitará também o conhecimento da ferramenta Eneagrama e como se
      utilizar dela para promover uma educação apoiada no diálogo amoroso, no
      respeito às diferenças individuais e como investir nos dons e talentos
      próprios de cada um, a partir da compreensão do jeito de ser de cada
      membro da família.</p>
    </div>
  </div>
</div>


