---
title: Instituto Ser - Eneagrama Sistêmico
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">

      <h1>Eneagrama Sistêmico</h1>

      <p>Neste <em>workshop</em> veremos que aprender a relacionar-se melhor com as pessoas é
      essencial para uma vida feliz, saudável e produtiva. Porém, existem aspectos da vida
      nos relacionamentos onde as terapias não surtem efeito.</p>

      <p>Utilizando um conjunto de “leis” que regem a estrutura familiar, como uma força
      invisível que tem como função manter o equilíbrio do sistema, esse trabalho visa
      organizar o campo morfogenético sistêmico familiar. Além de reajustar e quebrar
      padrões que não nos pertencem e que muitas vezes se repetem nas gerações
      seguintes.Esse <em>workshop</em> utiliza a mandala do Eneagrama promovendo uma
      reestruturação completa na energia que move o relacionamento entre os indivíduos
      envolvidos de acordo com a tipologia de cada um.</p>
    </div>
  </div>
</div>

