---
title: Instituto Ser - Eneagrama e Espiritualidade
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">

      <h1>Eneagrama e Espiritualidade</h1>

      <p>Dizia Pascal que "a espiritualidade sem autoconhecimento pode tornar-se presunção
      e que o autoconhecimento sem espiritualidade pode levar ao desespero". O Eneagrama
      ajuda a tomar consciência dos entraves que aparecem na caminhada espiritual, os
      mecanismos inconscientes que nos condicionam e as paixões ou vícios emocionais que
      distorcem nosso rumo. Uma espiritualidade a partir do humano, pede itinerários que
      nos ajudem a integrar aquilo que somos. O Eneagrama articula de forma muito profunda
      as dimensões do autoconhecimento e da espiritualidade. </p>
    </div>
  </div>
</div>

