---
title: Instituto Ser - Eneagrama para Jovens
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">

      <h1>ENEAGRAMA para Jovens</h1>

      <p>Esse <em>workshop</em> possibilita ao jovem um autoconhecimento numa fase da sua
      vida em que é preciso fazer escolhas que terão consequências imediatas e outras que
      repercutirão na sua vida adulta.</p>

      <p>Essas escolhas o levarão a tomadas de decisão. Quanto mais consciência o jovem
      tiver sobre si mesmo mais chances terá de acertar nas suas escolhas e menor será sua
      probabilidade de errar nas suas decisões.</p>

      <p>Participando do ENEAGRAMA para JOVENS, o jovem estará mais apto de se relacionar
      com situações difíceis se sentindo mais seguro, mais independente e sabendo o que
      quer e com mais abertura para dialogar.</p>

    </div>
  </div>
</div>

