---
title: Instituto Ser - Painel dos Tipos
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">

      <h1>Painel dos ENEATIPOS</h1>

      <p>É uma proposta de encontro entre pessoas que desenvolveram um mesmo padrão de
      comportamento e que têm o mesmo perfil de personalidade no Eneagrama. Nesse
      <em>workshop</em>, você terá a oportunidade de se reconhecer no outro, na sua
      rigidez, ansiedade, raiva, medo, insegurança, dons, talentos, sucesso, sonhos,
      fraquezas e forças e pontuar atitudes, atributos, virtudes inerentes à sua pessoa
      com foco numa nova construção do seu Eu.</p>

    </div>
  </div>
</div>

