---
title: Instituto Ser - ASAS E FLECHAS do Eneagrama
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">

      <h1>ASAS E FLECHAS do Eneagrama</h1>

      <p>Entrar em contato com as sombras e com os recursos de crescimento é uma das
      propostas deste <em>workshop</em>.</p>

      <p>Cada tipo possui um caminho específico e cada pessoa possui uma especificidade de
      como precisa percorrer e integrar este movimento. Tanto as asas quanto as flechas
      são muito importantes no trabalho de autodesenvolvimento porque nos possibilita
      conhecer e experimentar recursos de crescimento quanto identificar as sombras que
      precisamos integrá-las para nos desenvolver.</p>

      <p>Neste <em>workshop</em>, haverá também trabalhos corporais e de energia em grupo e
      trabalhos individuais, além do trabalho da criança interior.</p>

    </div>
  </div>
</div>

