---
title: Instituto Ser - Eneagrama nos Relacionamentos
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">

      <h1>Eneagrama nos Relacionamentos</h1>

      <p>Neste <em>workshop</em> o participante terá oportunidade de aprofundar o seu
      autoconhecimento e ampliar a sua consciência sobre os seus padrões de
      comportamento pontuando elementos da sua personalidade a serem trabalhados.</p>

      <p>Terá oportunidade de experimentar a energia do seu campo morfogenético e também
      sentir a energizados demais perfis do eneagrama. Esta experiencia vem proporcionar
      uma tolerância maior á energia dos demais perfis do eneagrama. Esta experiencia vem
      proporcionar uma tolerância maior à energia dos outros perfis minimizando os tão
      frequentes choques de personalidade.</p>

    </div>
  </div>
</div>

