---
title: Instituto Ser - ENEAGRAMA na Empresa
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">

      <h1>ENEAGRAMA na Empresa</h1>

      <p>O estilo de vida, a pressão no trabalho, os modelos sociais propostos pela
      mídia geram pessoas ansiosas, estressadas, depressivas, intolerantes entre outras.
      Essas atitudes influenciam na vida pessoal, familiar, social e as relações de
      trabalho e, comumente, afetam os resultados da Empresa. A proposta do Eneagrama é
      provocar um amadurecimento humano trabalhando as dimensões: afetiva, emocional,
      mental e espiritual. Ao desenvolver o Humano nessas dimensões, desenvolve-se em
      paralelo a auto-estima, melhorando as relações pessoais e interpessoais e aumentando
      a eficiência nas atividades profissionais.</p>

      <p>Ao conhecer os nove perfis de personalidade, ocorre uma conscientização das
      diferenças individuais e há um entendimento da variedade de motivações que geram
      a especificidade de cada um, e com isso, tende-se a compreender mais o outro
      respeitando-o, comprometendo-se, desenvolve o espírito de colaboração, de
      humanização das relações pessoais, interpessoais e ambientais.</p>

      <p>Os benefícios são percebidos em duas dimensões: empresarial e pessoal.
      A partir do momento em que cada funcionário toma a consciência da força de seu
      EGO bem como do poder de sua ESSÊNCIA, o sistema empresarial passa a obter
      resultados profundos de desenvolvimento com um efeito contagiante de alto
      entusiasmo em toda organização, tornando-se mais integrado com melhoria de
      comunicação, lideranças, formação de equipes, tomada de decisões, vendas e
      negociação, entre outras possíveis. Efeito este que acaba sendo levado além
      da empresa, para as casas e famílias</p>

    </div>
  </div>
</div>

