---
title: Instituto Ser - Tipos e Subtipos do Eneagrama
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">

      <h1>ENEAGRAMA - Subtipos</h1>

      <p>Dentro do centro instintivo, o eneagrama distingue três instintos ou impulsos
      primários: o Sexual, o Social e de Auto-conservação.</p>

      <p>No <em>workshop</em> Subtipos, o aluno identificará e compreenderá em detalhes os 27
      subtipos dominantes do Eneagrama (que são os 9 perfis x 3 subtipos). No caso do seu
      próprio, compreenderá em detalhes mais estes importantes padrões a serem superados.
      E, de maneira profunda, faremos trabalhos vivenciais de como trabalhar com os
      instintos e subtipos</p>
    </div>
  </div>
</div>

