---
title: Instituto Ser
---

<div class="row" id=chamada-principal>
  <div class="six columns">
    <%= image_tag 'curso-em-andamento.jpg', id: 'curso-em-andamento', alt: 'Curso em andamento' %>
  </div>
  <div class="six columns">
    <h1>Quem sou eu?</h1>
    <h1>Por que sou assim?</h1>
    <h1 id=de-um-up>Dê um <em>up</em> na sua vida e na sua carreira.</h1>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <iframe width="300" height="169" src="//www.youtube.com/embed/FFD3dOgGklI?list=PL99ZDIeBkT6hbe9mTggPC1t-SVYk29SXR" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="four columns">
    <iframe width="300" height="169" src="//www.youtube.com/embed/hn8pHGTSwsE?list=PL99ZDIeBkT6hbe9mTggPC1t-SVYk29SXR" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="four columns">
    <iframe width="300" height="169" src="//www.youtube.com/embed/d9t_vslvPpA?list=PL99ZDIeBkT6hbe9mTggPC1t-SVYk29SXR" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="twelve columns">DEPOIMENTOS:</div>
</div>
<div class="row" id=depoimentos>
  <div class="six columns">
    <div>DENISE BAÊTA DE OLIVEIRA<br/>
         Consultora de Vendas</div>
    
    <blockquote>Para mim, conhecer o Eneagrama foi uma libertação. Eu encontrei nesta
       "ferramenta" uma nova possibilidade de me compreender e compreender o outro e a
       experiência e dedicação da equipe do Instituto Ser fizeram toda a diferença no meu
       processo de auto conhecimento. Obrigada a todos.</blockquote>
  </div>

  <div class="six columns">
    <div>JOSIANE SILVA ESPÍNDULA<br/>
         Administradora</div>
    
    <blockquote>Conhecer o eneagrama para mim foi abrir as portas para um mundo novo, até
      então inexplorado, que era o meu eu. Ampliou minha capacidade de entender a mim e os
      que estão ao meu redor. Recomendo essa ferramenta poderosa, que nos permite sermos
      melhores, aos meus amigos e familiares. Abraços.</blockquote>
  </div>
</div>

