---
title: O Instituto Ser
---

<div id=o-instituto>

  <div class="row">
    <div class="five columns">
      <%= image_tag 'fachada-instituto.png', alt: 'Fachada do Instituto Ser' %>
    </div>
    <div class="seven columns">
      <h1>O Instituto</h1>
      <p>O Instituto SER é uma Instituição com fins formativo, informativo e transformador.
      Devolve a cada SER humano o que é seu por direito. Leva você de volta para casa, ao
      seu mais íntimo de você mesmo, ao seu verdadeiro SER.</p>
      <p>O Instituto SER nasceu a partir da inspiração dos participantes/clientes do PROJETO SER,
      os quais se sentindo beneficiados nos seus aspectos humano afetivo, emocional, intelectual
      e instintivo, sentiram a necessidade do aprofundamento no autoconhecimento e mudanças relacionais.</p>
    </div>
  </div>

  <div class=row>
    <div class="twelve columns">
      <p>Com isso surge a necessidade de ampliação de ofertas de cursos, workshop, palestras, seminários,
      tanto no âmbito pessoal quanto familiar, empresarial e educacional, a que o Instituto SER se propõe
      com seriedade, dinamismo, eficiência, respeito ao cliente priorizando o seu bem estar.</p>

      <h1>Objetivo</h1>

      <p>O INSTITUTO SER destina-se ao atendimento pessoal, comunitário, familiar, educacional, empresarial
      com foco nas relações pessoais e interpessoais. As atividades aqui propostas e desenvolvidas são
      molas propulsoras para a compreensão da dinâmica da vida do indivíduo, o despertar de consciência
      da grandeza e potencial de cada um culminando no descobrimento de caminhos de aprimoramento.</p>

      <ul>
        <li><em>Missão</em>: a nossa missão é tornar as pessoas mais humanizadas com a expansão de sua
        consciência pessoal e a do entorno e harmonizar todas as relações para que tenhamos uma
        sociedade desejável e saudável.</li>
        <li><em>Visão</em>: aumentar a organização, disciplina e bem-estar no ambiente empresarial
        gerando aumento de produção e valor à empresa, e no contexto pessoal levar todo ser humano
        de volta à sua essência alinhando sua vida pessoal, familiar, profissional e espiritual.</li>
        <li><em>Valores</em>: somos pautados pelo profissionalismo, seriedade, ética, conhecimento
        profundo das necessidades humanas e pela fidelidade ao cliente.</li>
      </ul>

      <h1>A equipe</h1>
    </div>
  </div>

  <div class="row" id=a-equipe>
    <div class="four columns">
      <%= image_tag 'ednea.png', alt: 'Foto do rosto de Ednéa' %>
      <div><strong>Ednéa</strong>,</div>
      <div>DIRETORA</div>
      <p>Ednéa é matemática pela UFES, psicanalista, terapeuta de família, professora de Eneagrama
      com mais de 14 anos de experiência, diretora do Instituto Ser.</p>
    </div>
    <div class="four columns">
      <%= image_tag 'gustavo.png', alt: 'Foto do rosto de Ednéa' %>
      <div><strong>Gustavo</strong>,</div>
      <div>DIRETOR</div>
      <p>Gustavo é biólogo, mestre em neurobiologia comportamental pela UFES, professor de Eneagrama,
      Coach - Consultor de vida e de empresas com ampla experiência no desenvolvimento pessoal e
      mestre de Reiki.</p>
    </div>
    <div class="four columns">
      <%= image_tag 'sabrina.png', alt: 'Foto do rosto de Ednéa' %>
      <div><strong>Sabrina</strong>,</div>
      <div>DIRETORA</div>
      <p>Sabrina é química, mestre em engenharia ambiental pela UFES, coach - consultora de vida e
      empresas, professora de eneagrama.</p>
    </div>
  </div>
</div>
