---
title: Instituto Ser - Karuna
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">
      <h1>Karuna</h1>

      <p>É uma palavra sânscrita muito usada no hinduísmo e no budismo.
      Significa, em sentido lato, compaixão, e, num sentido mais abrangente,
      "ação compassiva", tendo em conta toda e qualquer ação realizada no
      sentido de amenizar o sofrimento dos outros seres. Assim, na medida em
      que ajudamos os outros e facilitamos o seu processo de cura e
      transformação, todos nos beneficiamos, em virtude da unicidade de todos
      os seres.</p>
    </div>
  </div>
</div>

