---
title: Instituto Ser - Leitura Corporal – Integração Corpo e Mente
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">
      <h1>Leitura Corporal – Integração Corpo e Mente</h1>

      <div><%= image_tag 'leitura-corporal.png', alt: 'O corpo, registra, reage e revela a história individual. 
      A Leitura Corporal relaciona as formas e funcionalidade do corpo, os traços fisionômicos, as posturas, 
      as sensações e os sintomas físicos aos conteúdos mentais e às particularidades comportamentais e estabelece 
      um paralelo entre a linguagem do corpo, estado de saúde, as disfunções orgânicas e o auto-conhecimento.' %>
      
      
      
      </div>

    </div>
  </div>
</div>