---
title: Instituto Ser - Leitura Corporal – Integração Corpo e Mente
---

<div class=servico>

  <div class="row">
    <div class="twelve columns">
      <h1>Leitura Corporal – Integração Corpo e Mente</h1>

      <div><%= image_tag 'ESTE WORKSHOP FOI UM SUCESSO TOTAL DEVIDO A ATUAÇÃO ATIVA DOS PARTICIPANTES E A 
      DEDICAÇÃO SEM MEDIDA DO REGIS DE O MINISTROU' %>
      </div>

    </div>
  </div>
</div>