---
title: Instituto Ser - Programação de Cursos e Workshops
---

<div id=programacao>

  <div class="row">
    <div class="twelve columns">
      <h1>Programação</h1>

      <div><strong>Workshop de Eneagrama - Conheça sua Personalidade ( Noturno )</strong></div>
      
      <h2>1ª Etapa</h2>
      <div><strong>17 de novembro</strong>, segunda-feira, das 18h às 22h</div>
      <div><strong>18 de novembro</strong>, terça-feira, das 18h às 22h</div>
      <div><strong>19 de novembro</strong>, quarta-feira, das 18h às 22h</div>

      <h2>2ª Etapa</h2>
      <div><strong>08 de dezembro</strong>, segunda-feira, das 18h às 22h</div>
      <div><strong>09 de dezembro</strong>, terça-feira, das 18h às 22h</div>
      <div><strong>10 de dezembro</strong>, quarta-feira, das 18h às 22h</div>

      <div><strong>Eneagrama - Conheça sua Personalidade ( Final de semana )</strong></div>

      <h2>1ª Etapa</h2>

      <div><strong>15 de novembro</strong>, sábado, das 08h às 20h</div>

      <h2>2ª Etapa</h2>
      <div><strong>13 de dezembro</strong>, sábado, das 08h às 20h</div>

      <div class="separado-por-linha"><strong>ENEAGRAMA - Subtipos</strong></div>
      <div><strong>06 de dezembro,</strong> Sábado, 8:30h às 18h</div>
      <div><strong>07 de dezembro,</strong> Domingo, 8:30h às 12h</div>
    </div>
  </div>
</div>

