---
title: Instituto Ser - Programação de Cursos e Workshops
---

<div id=programacao>

  <div class="row">
    <div class="twelve columns">
      <h1>Programação</h1>
      <ul>
        <li>
          <div><strong>Workshop de Eneagrama - Conheça sua Personalidade</strong></div>
          <div>Período: <strong>25 e 26/10</strong></div>
        </li>
        <li>
          <div><strong>Workshop de Eneagrama - Conheça sua Personalidade</strong></div>
          <div>Período: <strong>15 e 16/11</strong></div>
        </li>
        <li>
          <div><strong>Painel de Perfil</strong></div>
          <div>Período: <strong>novembro de 2013</strong></div>
        </li>
        <li>
          <div><strong>Reiki 2</strong></div>
          <div>Período: <strong>16 e 17/10</strong></div>
        </li>
        <li>
          <div><strong>Reiki 1</strong></div>
          <div>Período: <strong>novembro de 2013</strong></div>
        </li>
      </ul>
    </div>
  </div>
</div>

