---
title: Instituto Ser - Reiki
---

<div id=reiki>

  <div class="row">
    <div class="twelve columns">
      <h1>O que é o Reiki?</h1>
      <p>É uma palavra oriental que significa energia vital universal.
      O <em>reikiano</em> é capaz, através desse maravilhoso método natural, de aperfeiçoar
      e curar os corpos (físico e energéticos), criando uma deliciosa sensação
      de bem-estar.</p>

      <p> É reconhecidamente uma prática segura e eficiente que, através da técnica,
      equilibra os sete <em>chakras</em> (centro de força sutil de energia) existentes
      em todos nós procurando cura, harmoniosa e contentamento.</p>

      <p><strong>É reconhecido como prática complementar de tratamento pela Organização
      Mundial de Saúde.</strong></p>
    </div>
  </div>
</div>

