---
title: Instituto Ser - Reiki
---

<div class=servico id=reiki>

  <div class="row">
    <div class="twelve columns">
      <h1>A Energia Reiki é</h1>
      
      <ul class="lista-reiki">
        <li>Reconhecida como prática complementar de tratamento pela
        <li>Organização Mundial de Saúde;</li>
        <li>Uma revitalização e harmonização do corpo e da mente;</li>
        <li>Ativação da Energia Vital;</li>
        <li>Uma arte de terapia simples, segura e universal;</li>
        <li>Independente de qualquer religião e compatível com qualquer outro tratamento.</li>
      </ul>

      <h2>A Energia Reiki é recomendada em sintomas de</h2>
      
      <ul class="lista-reiki">
        <li>Ansiedade;</li>
        <li>Cansaço, falta de energia;</li>
        <li>Doenças físicas, psíquicas e psicossomáticas;</li>
        <li>Dores nas costas;</li>
        <li>Insônia;</li>
        <li>Hipoatividade;</li>
        <li>Mal estar generalidado;</li>
        <li>Medos;</li>
        <li>Mudanças constantes de humor;</li>
        <li>Stress;</li>
        <li>Tristeza;</li>
        <li>Hiperatividade;</li>
        <li>80% dos males que acometem o corpo.</li>
      </ul>
      <h1>O Reiki não é</h1>
      
      <ul class="lista-reiki">
        <li>Uma religião, filosofia ou credo;</li>
        <li>Magia;</li>
        <li>Terapia verbal;</li>
        <li>Poder mental;</li>
        <li>Para ser recebido só quando se está doente.</li>
      </ul>

    </div>
  </div>
</div>

