---
title: Instituto Ser - Yoga
---

<div class=servico>

  <div class="row">
    <div class="six columns">

      <h1>Aulas de Yoga</h1>

      <div><%= image_tag 'YOGA.jpg', alt: 'descrição dos ganhos ocasionados pela prática de yoga' %></div>
    </div>
    <div class="six columns">
      <p>Derivado da palavra em sânscrito "yuj", que significa "unir ou integrar", yoga é um conjunto de 
      conhecimentos de mais de 5.000 anos. Yoga é harmonizar o corpo com a mente e a respiração, através de 
      técnicas de respiração (pranayamas), posturas de yoga (ásanas) e meditação.</p>

      <p>Tem como objetivo equilibrar as causas das doenças, como oxigenação deficiente, nutrição inadequada das 
      células e acidez sanguínea produzida pela má eliminação das toxinas no organismo, é uma atividade completa,
       que tonifica os músculos, traz mais força e vigor, proporcionando bem estar e satisfação na realização 
       das diversas tarefas.</p>
       <p>A concentração em todo o corpo durante a realização das posturas psicofísicas na respiração, o relaxamento 
       e as técnicas de concentração e meditação induz a produção dos diversos hormônios responsávels pelas 
       sensações de bem estar e contentamento, o que leva o Ser Humano, com a prática constante, a atingir estados 
       de plena satisfação, melhorando ou sanando  também problemas psicológicos como ansiedade, depressão, síndrome 
       do pânico, TOC, e as diversas doenças de origem psicossomáticas.</p>

    </div>


